body {
    background-color: black;
    color: grey;
}

.centered {
    text-align: center;
}

canvas {
    outline: 1px solid grey;
}

.monospace {
    font-family: monospace;
}

footer {
    font-size: xx-small;
    position : absolute;
    bottom : 0;
}

a {
    text-decoration: none;
    color: green;
}

a:visited {
    color: green;
}
