@font-face {
	font-family: "texgyrepagella";
	src: url("fonts/texgyrepagella-regular.otf") format("opentype");

	/* use default font while custom one is loading */
	font-display: swap;
}

body {
	background-color: #000;

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;

	line-height: 1.12;
	font-family: texgyrepagella;
	font-size: 0.95em;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	color: #FFF;

	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;

	max-width: 70vw;
}

#wrapper {
	margin-top: 0;
	margin-bottom: 8em;
}

#menubar {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

#menubar > div {
	background-color: #000;
	border-left: #FFF solid 2px;
	margin-left:   0.25em;
	margin-right:  0.25em;
	margin-bottom: 0.3em;
	font-variant: small-caps;
}

.nav-wrapper {
	padding: 0.25em;
	text-align: center;
}

#active, #menubar div:hover {
	border-color: #BB8A4F !important;
}

main {
	background-color: rgba(0, 0, 0, 0.60);
	padding: 2em;
}

nav {
	font-size: larger;
	text-align: center;
}

nav a {
	text-decoration: none !important;
	color: inherit;
}

article > section {
	padding-left: 1.5em;
}

article > header {
	margin-bottom: 1em;
	margin-top: 1em;
}

h1 {
	color: #017A1D;
	text-align: center;
	font-variant: small-caps;
	font-size: 2em !important;
	margin: 0.75em;
	margin-bottom: 0.25em;
}

h2 {
	color: #5B53B2;
	font-variant: small-caps;
}

h3 {
	color: #CA7224;
	font-size: 1em;
	font-variant: small-caps;
}

h2, h3 {
	margin: 0em;
}

a {
	color: #FF99FF;
	text-decoration: None;
}

a:hover {
	text-decoration: underline;
}

i {
	color: #68A6E5;
}

em {
	color: #68A6E5;
	font-style: normal;
}

q {
	color: #FCE945;
	font-style: italic;
}

q:before {
	content: "„";
}

q:after {
	content: "”";
}

@media only screen and (max-width: 600px) {
	body {
		max-width: 100%;
	}

	#menubar > div {
		background-color: rgba(0, 0, 0, 0.60) !important;
		border-left: none;
		border-bottom: 2px solid #FFF;
	}

	h1 {
		display: none;
	}

	main {
		padding-left: 0.75em;
		padding-right: 0.75em;
		padding-top: 1em;
		padding-bottom: 2em;
	}

	article > section {
		padding-left: 0.5em;
	}
}
