#box {
    display: flex;
}

#left-panel {
    margin-left: auto;
}

#right-panel {
    margin-right: auto;
}

.help {
    flex: 0 1 500px;
    padding: 15px;
}

.help section {
    text-align: left;
    padding: 10px;
    margin: 0;
    background-color: rgb(15, 15, 15);
    border-bottom: 15px solid black;
}

.help h2 {
    color: green;
    font-size: 35px;
    font-weight: lighter;
    font-family: monospace;
    text-align: center;
    padding: 0px 10px;
}

.help h3 {
    margin: 0;
    padding: 15px;
    font-size: 25px;
}

#middle {
    flex: none;
    height: max-content;
}

#middle > canvas {
    border: 1px solid grey;
    margin-top: 15px;
}

#speed-panel {
    margin-top: 5px;
    border: 1px solid grey;
    width: 752px;
}

#speed-panel td {
    white-space: nowrap;
    text-align: center;
    padding: 3px;
    margin: 0;
}

#input-cell {
    width: 99%;
}

#input-cell > input {
    width: 100%;
}

#shapes > tbody > tr:hover {
    outline: 10px solid green;
    outline-style: ridge;
}

#shapes {
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: larger;
    cursor: pointer;
}

#shapes > tbody > tr > td {
    width: 50%;
    padding: 10px;
}

#shapes table {
    display: inline-table;
}

#shapes table td {
    min-width: 3px;
    min-height: 3px;
    width: 3px;
    height: 3px;
}
