#box {
    display: flex;
}

#left-panel {
    margin-left: auto;
}

#right-panel {
    margin-right: auto;
}

.help {
    flex: 0 1 500px;
    padding: 15px;
}

.help section {
    text-align: left;
    padding: 10px;
    margin: 0;
    background-color: rgb(4, 4, 4);
    margin-bottom: 15px;
    box-shadow: 0px 1px 2px rgb(4, 4, 4), 0px -1px 2px rgb(4, 4, 4), 1px 0px 2px rgb(4, 4, 4), -1px 0px 2px rgb(4, 4, 4); /* soften edges */
}

h1 {
    text-align: center;
    font-family: geo-regular;
    font-size: 75px;
    margin: 0;
    padding: 5px 0px;
    color: green;
    background-image: radial-gradient(circle 300px at center, rgb(0, 54, 0), black);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    color: green;
    font-size: 35px;
    font-weight: lighter;
    font-family: monospace;
    text-align: center;
    padding: 0px 10px;
}

h3 {
    margin: 0;
    padding: 15px;
    font-size: 22px;
    font-family: monospace;
    font-weight: lighter;
}

#middle {
    flex: none;
    height: max-content;
}

hr {
    background-image: linear-gradient(90deg, green, rgb(4, 4, 4));
    height: 3px;
    border: none;
}

#middle > canvas {
    border: 1px solid grey;
}

#speed-panel {
    margin-top: 5px;
    border: 1px solid grey;
    width: 752px;
}

#speed-panel td {
    white-space: nowrap;
    text-align: center;
    padding: 3px;
    margin: 0;
}

#input-cell {
    width: 99%;
}

#input-cell > input {
    width: 100%;
}

#shapes > tbody > tr:hover {
    outline: 3px solid green;
    outline-style: dashed;
}

#shapes {
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: larger;
    cursor: pointer;
}

#shapes > tbody > tr > td {
    width: 50%;
    padding: 10px;
}

#shapes table {
    display: inline-block;
}

#shapes table td {
    min-width: 3px;
    min-height: 3px;
    width: 3px;
    height: 3px;
}
